section ul {
    list-style-type: none;
    transform-style: preserve-3d;
    position: absolute;
    width: var(--block-size);
    height: var(--block-size);
    transition: transform 0.5s;
    transform: rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg)) rotateZ(var(--rotate-z, 0deg))
        translateX(var(--translate-x, 0))
        translateY(var(--translate-y, 0))
        translateZ(var(--translate-z, 0));
}

/* -------------------- Front-side (9 blocks) -------------------- */
ul:nth-child(1) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size);
}

ul:nth-child(2) {
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size);
}

ul:nth-child(3) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size);
}

ul:nth-child(4) {
    --translate-x: var(--block-size-n);
    --translate-z: var(--block-size);
}

ul:nth-child(5) {
    --translate-z: var(--block-size);
}

ul:nth-child(6) {
    --translate-x: var(--block-size);
    --translate-z: var(--block-size);
}

ul:nth-child(7) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size);
    --translate-z: var(--block-size);
}

ul:nth-child(8) {
    --translate-y: var(--block-size);
    --translate-z: var(--block-size);
}

ul:nth-child(9) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size);
    --translate-z: var(--block-size);
}

/* -------------------- Middle-side (8 blocks) -------------------- */
ul:nth-child(10) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size-n);
}

ul:nth-child(11) {
    --translate-y: var(--block-size-n);
}

ul:nth-child(12) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size-n);
}

ul:nth-child(13) {
    --translate-x: var(--block-size-n);
}

ul:nth-child(14) {
    --translate-x: var(--block-size);
}

ul:nth-child(15) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size);
}

ul:nth-child(16) {
    --translate-y: var(--block-size);
}

ul:nth-child(17) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size);
}

/* -------------------- Back-side (9 blocks) -------------------- */
ul:nth-child(18) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size-n);
}

ul:nth-child(19) {
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size-n);
}

ul:nth-child(20) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size-n);
    --translate-z: var(--block-size-n);
}

ul:nth-child(21) {
    --translate-x: var(--block-size-n);
    --translate-z: var(--block-size-n);
}

ul:nth-child(22) {
    --translate-z: var(--block-size-n);
}

ul:nth-child(23) {
    --translate-x: var(--block-size);
    --translate-z: var(--block-size-n);
}

ul:nth-child(24) {
    --translate-x: var(--block-size-n);
    --translate-y: var(--block-size);
    --translate-z: var(--block-size-n);
}

ul:nth-child(25) {
    --translate-y: var(--block-size);
    --translate-z: var(--block-size-n);
}

ul:nth-child(26) {
    --translate-x: var(--block-size);
    --translate-y: var(--block-size);
    --translate-z: var(--block-size-n);
}

/* -------------------- Animations -------------------- */
main:hover ul:nth-child(-n + 9) {
    --rotate-z: -90deg;
}
