/* -------------------- Menu right -------------------- */
nav:first-of-type {
    inset: 2rem 2rem auto auto;
}

input[name='camera-menu'] {
    margin-left: auto;
}

input[name='camera-menu']::after {
    background-image: url(../img/camera.svg);
}

input[name='camera-menu'] ~ p,
input[name='camera-menu'] ~ ol {
    transform: translateX(20rem);
    opacity: 0;
}

/* -------------------- Camera angles -------------------- */
input:nth-of-type(1):checked ~ main section {
    --rotate-cam-x: 45deg;
}
input:nth-of-type(2):checked ~ main section {
    --rotate-cam-x: 135deg;
}
input:nth-of-type(3):checked ~ main section {
    --rotate-cam-x: 225deg;
}
input:nth-of-type(4):checked ~ main section {
    --rotate-cam-x: 315deg;
}

input:nth-of-type(5):checked ~ main section {
    --rotate-cam-y: -30deg;
}

input:nth-of-type(6):checked ~ main section {
    --rotate-cam-y: 30deg;
}

/* -------------------- Psycho mode -------------------- */

input:nth-of-type(8):checked ~ div {
    --ring-size: 0.75rem;

    display: block;
    position: absolute;
    inset: 0;
    background-image: repeating-radial-gradient(
        closest-side circle,
        transparent calc(100% - var(--ring-size) * 2),
        var(--black) calc(100% - var(--ring-size))
    );
    background-position: center center;
    width: 100vw;
    height: 100vh;
    animation: grow 1.2s linear infinite, rainbow 10s linear infinite;
}

input:nth-of-type(8):checked ~ main ul li {
    --ring-size: 0.4rem;
    background-image: repeating-radial-gradient(
        closest-side circle,
        #0000002d calc(100% - var(--ring-size) * 2),
        var(--black) calc(100% - var(--ring-size))
    );
    animation-name: rainbow, grow;
    animation-duration: 10s, 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes grow {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: calc(100% + var(--ring-size) * 4)
            calc(100% + var(--ring-size) * 4);
    }
}

@keyframes rainbow {
    100%,
    0% {
        background-color: #ff0000;
    }
    8% {
        background-color: #ff7f00;
    }
    16% {
        background-color: #ffff00;
    }
    25% {
        background-color: #7fff00;
    }
    33% {
        background-color: #00ff00;
    }
    41% {
        background-color: #00ff7f;
    }
    50% {
        background-color: #00ffff;
    }
    58% {
        background-color: #007fff;
    }
    66% {
        background-color: #0000ff;
    }
    75% {
        background-color: #7f00ff;
    }
    83% {
        background-color: #ff00ff;
    }
    91% {
        background-color: #ff007f;
    }
}
