:root {
    --red: #b71234;
    --yellow: #ffd500;
    --orange: #ff5800;
    --white: #ffffff;
    --blue: #0046ad;
    --green: #009b48;
    --border: #000;
}

/* -------------------- 6 Planes transforms -------------------- */

/* right */
li:nth-child(2) {
    --rotate-y: 90deg;
}

/* back */
li:nth-child(3) {
    --rotate-y: 180deg;
}

/* left */
li:nth-child(4) {
    --rotate-y: -90deg;
}

/* top */
li:nth-child(5) {
    --rotate-x: 90deg;
}

/* bottom */
li:nth-child(6) {
    --rotate-x: -90deg;
}

/* -------------------- Planes front blocks -------------------- */

/* Red side */
ul:nth-child(-n + 9) li:nth-child(1) {
    background-color: var(--red);
}

/* Yellow side */
ul:nth-child(3n + 14) li:nth-child(2),
ul:nth-child(-3n + 18) li:nth-child(2) {
    background-color: var(--yellow);
}

/* Orange side */
ul:nth-child(n + 18) li:nth-child(3) {
    background-color: var(--orange);
}

/* White side */
ul:nth-child(3n + 15) li:nth-child(4),
ul:nth-child(-3n + 16) li:nth-child(4) {
    background-color: var(--white);
}

/* Blue side */
ul:nth-child(1) li:nth-child(5),
ul:nth-child(2) li:nth-child(5),
ul:nth-child(3) li:nth-child(5),
ul:nth-child(10) li:nth-child(5),
ul:nth-child(11) li:nth-child(5),
ul:nth-child(12) li:nth-child(5),
ul:nth-child(18) li:nth-child(5),
ul:nth-child(19) li:nth-child(5),
ul:nth-child(20) li:nth-child(5) {
    background-color: var(--blue);
}

/* Green side */
ul:nth-child(7) li:nth-child(6),
ul:nth-child(8) li:nth-child(6),
ul:nth-child(9) li:nth-child(6),
ul:nth-child(15) li:nth-child(6),
ul:nth-child(16) li:nth-child(6),
ul:nth-child(17) li:nth-child(6),
ul:nth-child(24) li:nth-child(6),
ul:nth-child(25) li:nth-child(6),
ul:nth-child(26) li:nth-child(6) {
    background-color: var(--green);
}
