/* -------------------- Menu left -------------------- */
nav:last-of-type {
    inset: 2rem auto auto 2rem;
}

input[name='rotate-menu']::after {
    background-image: url(../img/rotate.svg);
    background-size: 50%;
}

input[name='rotate-menu'] ~ p,
input[name='rotate-menu'] ~ ol {
    transform: translateX(-20rem);
    opacity: 0;
}

/* Hide label text */
nav:last-of-type label {
    text-indent: -100000px;
    /* background-color: blue; */
}

/* Image on labels */
nav:last-of-type li:nth-child(2n -1) label::after {
    content: '';
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    inset: 0;
    transition: filter 0.3s;
}

nav:last-of-type li:first-child label::after {
    background-image: url(../img/rotate-left.svg);
}

nav:last-of-type li:last-child label::after {
    background-image: url(../img/rotate-right.svg);
}

input:nth-of-type(9):checked
    ~ nav
    label[for='rotate-top-left']::after,
input:nth-of-type(11):checked
    ~ nav
    label[for='rotate-top-right']::after,
input:nth-of-type(12):checked
    ~ nav
    label[for='rotate-middle-left']::after,
input:nth-of-type(14):checked
    ~ nav
    label[for='rotate-middle-right']::after,
input:nth-of-type(15):checked
    ~ nav
    label[for='rotate-bottom-left']::after,
input:nth-of-type(17):checked
    ~ nav
    label[for='rotate-bottom-right']::after {
    filter: invert(100%);
}

/* input:nth-of-type(9):checked ~ nav label[for='rotate-top-left'],
input:nth-of-type(11):checked ~ nav label[for='rotate-top-right'],
input:nth-of-type(12):checked ~ nav label[for='rotate-middle-left'],
input:nth-of-type(14):checked ~ nav label[for='rotate-middle-right'],
input:nth-of-type(15):checked ~ nav label[for='rotate-bottom-left'],
input:nth-of-type(17):checked ~ nav label[for='rotate-bottom-right'] {
    filter: invert(100%);
} */

/* -------------------- Rotations top -------------------- */

/* left */
input:nth-of-type(9):checked ~ main ul:nth-child(3n + 14),
input:nth-of-type(9):checked ~ main ul:nth-child(-3n + 12) {
    --rotate-x: -90deg;
}

/* right */
input:nth-of-type(11):checked ~ main ul:nth-child(3n + 14),
input:nth-of-type(11):checked ~ main ul:nth-child(-3n + 12) {
    --rotate-x: 90deg;
}

/* -------------------- Rotations middle -------------------- */

/* left */
input:nth-of-type(12):checked ~ main ul:nth-child(3n + 16),
input:nth-of-type(12):checked ~ main ul:nth-child(-3n + 11) {
    --rotate-x: -90deg;
}

/* right */
input:nth-of-type(14):checked ~ main ul:nth-child(3n + 16),
input:nth-of-type(14):checked ~ main ul:nth-child(-3n + 11) {
    --rotate-x: 90deg;
}

/* -------------------- Rotations bottom -------------------- */

/* left */
input:nth-of-type(15):checked ~ main ul:nth-child(-3n + 13),
input:nth-of-type(15):checked ~ main ul:nth-child(3n + 15) {
    --rotate-x: -90deg;
}

/* right */
input:nth-of-type(17):checked ~ main ul:nth-child(-3n + 13),
input:nth-of-type(17):checked ~ main ul:nth-child(3n + 15) {
    --rotate-x: 90deg;
}
