/* -------------------- Menu left -------------------- */
nav:last-of-type {
    inset: 2rem auto auto 2rem;
}

input[name='rotate-menu']::after {
    background-image: url(../img/rotate.svg);
    background-size: 50%;
}

input[name='rotate-menu'] ~ p,
input[name='rotate-menu'] ~ ol {
    transform: translateX(-20rem);
    opacity: 0;
}

/* -------------------- Rotations left -------------------- */

/* Red side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(11):checked
    ~ main
    ul:nth-child(-n + 9) {
    --rotate-z: -90deg;
}

/* Green side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(7),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(8),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(9),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(15),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(16),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(17),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(24),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(25),
input:nth-of-type(9):checked
    ~ input:nth-of-type(12):checked
    ~ main
    ul:nth-child(26) {
    --rotate-y: -90deg;
}

/* Orange side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(13):checked
    ~ main
    ul:nth-child(n + 18) {
    --rotate-z: 90deg;
}

/* Blue side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(1),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(2),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(3),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(10),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(11),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(12),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(18),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(19),
input:nth-of-type(9):checked
    ~ input:nth-of-type(14):checked
    ~ main
    ul:nth-child(20) {
    --rotate-y: 90deg;
}

/* Yellow side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(15):checked
    ~ main
    ul:nth-child(3n + 14),
input:nth-of-type(9):checked
    ~ input:nth-of-type(15):checked
    ~ main
    ul:nth-child(-3n + 12) {
    --rotate-x: -90deg;
}

/* White side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(16):checked
    ~ main
    ul:nth-child(-3n + 13),
input:nth-of-type(9):checked
    ~ input:nth-of-type(16):checked
    ~ main
    ul:nth-child(3n + 15) {
    --rotate-x: 90deg;
}

/* -------------------- Rotations right -------------------- */

/* Red side */
/* input:nth-of-type(10):checked
    ~ input:nth-of-type(11):checked
    ~ main
    ul:nth-child(-n + 9) {
    --rotate-z: 90deg;
} */
