/* -------------------- Menu left -------------------- */
nav:last-of-type {
    inset: 2rem auto auto 2rem;
}

input[name='rotate-menu']::after {
    background-image: url(../img/rotate.svg);
    background-size: 50%;
}

input[name='rotate-menu'] ~ p,
input[name='rotate-menu'] ~ ol {
    transform: translateX(-20rem);
    opacity: 0;
}

/* -------------------- Rotations left -------------------- */

/* Red side */
input:nth-of-type(9):checked
    ~ input:nth-of-type(11):checked
    ~ main
    ul:nth-child(-n + 9) {
    --rotate-z: -90deg;
}

/* -------------------- Rotations right -------------------- */

/* Red side */
/* input:nth-of-type(10):checked
    ~ input:nth-of-type(11):checked
    ~ main
    ul:nth-child(-n + 9) {
    --rotate-z: 90deg;
} */
