/* Generic styles */
:root {
    --cube-size: 15rem;
    --block-size: calc(var(--cube-size) / 3);
    --block-size-neg: calc(var(--block-size) * -1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: grid;
    place-items: center;
    height: 100vh;
}

body {
    font-family: sans-serif;
    perspective: 35rem;
    width: var(--cube-size);
    height: var(--cube-size);
}

ul {
    list-style-type: none;
}

/* ---------- Cube Styling ---------- */

div {
    /* Transforms X */
    --x-left: translateX(var(--block-size-neg));
    --x-middle: translateX(0);
    --x-right: translateX(var(--block-size));

    /* Transforms Y */
    --y-top: translateY(var(--block-size-neg));
    --y-middle: translateY(0);
    --y-bottom: translateY(var(--block-size));

    /* Transforms Z */
    --z-front: translateZ(var(--block-size));
    --z-middle: translateZ(0);
    --z-back: translateZ(var(--block-size-neg));

    /* Rotate X */
    --rotate-x-pos: rotateX(90deg);
    --rotate-x-none: rotateX(0);
    --rotate-x-neg: rotateX(-90deg);

    /* Rotate Y */
    --rotate-y-pos: rotateY(90deg);
    --rotate-y-none: rotateY(0);
    --rotate-y-neg: rotateY(-90deg);

    /* Rotate Z */
    --rotate-z-pos: rotateZ(90deg);
    --rotate-z-none: rotateZ(0);
    --rotate-z-neg: rotateZ(-90deg);
}

/* Cube */
div {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    display: grid;
    place-items: center;
    animation: spin 20s infinite linear;
}

/* 26 blocks */
div ul {
    transform-style: preserve-3d;
    position: absolute;
    width: var(--block-size);
    height: var(--block-size);
    transition: transform 0.5s;
}

/* 6 planes */
div ul li {
    width: var(--block-size);
    height: var(--block-size);
    border: 4px solid black;
    position: absolute;
    border-radius: 0.5em;
}

/* Blocks */

/* Front-side (9 blocks) */
ul:nth-child(1) {
    transform: var(--x-left) var(--y-top) var(--z-front);
}

ul:nth-child(2) {
    transform: var(--x-middle) var(--y-top) var(--z-front);
}

ul:nth-child(3) {
    transform: var(--x-right) var(--y-top) var(--z-front);
}

ul:nth-child(4) {
    transform: var(--x-left) var(--y-middle) var(--z-front);
}

ul:nth-child(5) {
    transform: var(--x-middle) var(--y-middle) var(--z-front);
}

ul:nth-child(6) {
    transform: var(--x-right) var(--y-middle) var(--z-front);
}

ul:nth-child(7) {
    transform: var(--x-left) var(--y-bottom) var(--z-front);
}

ul:nth-child(8) {
    transform: var(--x-middle) var(--y-bottom) var(--z-front);
}

ul:nth-child(9) {
    transform: var(--x-right) var(--y-bottom) var(--z-front);
}

/* Middle-side (8 blocks) */
ul:nth-child(10) {
    transform: var(--x-left) var(--y-top) var(--z-middle);
}

ul:nth-child(11) {
    transform: var(--x-middle) var(--y-top) var(--z-middle);
}

ul:nth-child(12) {
    transform: var(--x-right) var(--y-top) var(--z-middle);
}

ul:nth-child(13) {
    transform: var(--x-left) var(--y-middle) var(--z-middle);
}

ul:nth-child(14) {
    transform: var(--x-right) var(--y-middle) var(--z-middle);
}

ul:nth-child(15) {
    transform: var(--x-left) var(--y-bottom) var(--z-middle);
}

ul:nth-child(16) {
    transform: var(--x-middle) var(--y-bottom) var(--z-middle);
}

ul:nth-child(17) {
    transform: var(--x-right) var(--y-bottom) var(--z-middle);
}

/* Back-side (9 blocks) */
ul:nth-child(18) {
    transform: var(--x-left) var(--y-top) var(--z-back);
}

ul:nth-child(19) {
    transform: var(--x-middle) var(--y-top) var(--z-back);
}

ul:nth-child(20) {
    transform: var(--x-right) var(--y-top) var(--z-back);
}

ul:nth-child(21) {
    transform: var(--x-left) var(--y-middle) var(--z-back);
}

ul:nth-child(22) {
    transform: var(--x-middle) var(--y-middle) var(--z-back);
}

ul:nth-child(23) {
    transform: var(--x-right) var(--y-middle) var(--z-back);
}

ul:nth-child(24) {
    transform: var(--x-left) var(--y-bottom) var(--z-back);
}

ul:nth-child(25) {
    transform: var(--x-middle) var(--y-bottom) var(--z-back);
}

ul:nth-child(26) {
    transform: var(--x-right) var(--y-bottom) var(--z-back);
}

/* Planes */
li:nth-child(1) {
    background-color: rgba(183, 18, 52, 1);
    transform: rotateY(0deg) translateZ(calc(var(--block-size) / 2));
}

li:nth-child(2) {
    background-color: rgba(255, 213, 0, 1);
    transform: rotateY(90deg) translateZ(calc(var(--block-size) / 2));
}

li:nth-child(3) {
    background-color: rgba(255, 88, 0, 1);
    transform: rotateY(180deg) translateZ(calc(var(--block-size) / 2));
}

li:nth-child(4) {
    background-color: rgba(255, 255, 255, 1);
    transform: rotateY(-90deg) translateZ(calc(var(--block-size) / 2));
}

li:nth-child(5) {
    background-color: rgba(0, 70, 173, 1);
    transform: rotateX(90deg) translateZ(calc(var(--block-size) / 2));
}

li:nth-child(6) {
    background-color: rgba(0, 155, 72, 1);
    transform: rotateX(-90deg) translateZ(calc(var(--block-size) / 2));
}

/* Animations */
div:hover ul:nth-child(1) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-left) var(--y-top) var(--z-front);
}

div:hover ul:nth-child(2) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-middle) var(--y-top)
        var(--z-front);
}

div:hover ul:nth-child(3) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-right) var(--y-top) var(--z-front);
}

div:hover ul:nth-child(4) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-left) var(--y-middle)
        var(--z-front);
}

div:hover ul:nth-child(5) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-middle) var(--y-middle)
        var(--z-front);
}

div:hover ul:nth-child(6) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-right) var(--y-middle)
        var(--z-front);
}

div:hover ul:nth-child(7) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-left) var(--y-bottom)
        var(--z-front);
}

div:hover ul:nth-child(8) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-middle) var(--y-bottom)
        var(--z-front);
}

div:hover ul:nth-child(9) {
    transform: var(--rotate-x-none) var(--rotate-y-none)
        var(--rotate-z-neg) var(--x-right) var(--y-bottom)
        var(--z-front);
}

/* Keyframes */
/* @keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    12.5% {
        transform: rotateX(-20deg) rotateY(15deg);
    }
    25% {
        transform: rotateX(0deg) rotateY(30deg);
    }
    37.5% {
        transform: rotateX(20deg) rotateY(15deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    62.5% {
        transform: rotateX(-20deg) rotateY(-15deg);
    }
    75% {
        transform: rotateX(0deg) rotateY(-30deg);
    }
    87.5% {
        transform: rotateX(20deg) rotateY(-15deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
} */

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
